{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Drogas</th>
                <th>Imagen1</th>
                <th>Imagen2</th>
                <th>Imagen3</th>
                <th>Imagen4</th>
                <th>Imagen5</th>
                <th>Imagen6</th>
                <th>Imagen7</th>
                <th>Imagen8</th>
                <th>Imagen9</th>
                <th>Imagen10</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            {% for patient in patients %}
                <tr>
                    <td>{{ patient.nombre }}</td>
                    <td>{{ patient.edad }}</td>
                    <td>{{ patient.drogas }}</td>
                    <td>{{ patient.imagen1 }}</td>
                    <td>{{ patient.imagen2 }}</td>
                    <td>{{ patient.imagen3 }}</td>
                    <td>{{ patient.imagen4 }}</td>
                    <td>{{ patient.imagen5 }}</td>
                    <td>{{ patient.imagen6 }}</td>
                    <td>{{ patient.imagen7 }}</td>
                    <td>{{ patient.imagen8 }}</td>
                    <td>{{ patient.imagen9 }}</td>
                    <td>{{ patient.imagen10 }}</td>
                    <td>{{ patient.result }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
