{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <link href="/project/static/styles.css" rel="stylesheet">

    <h1>Empieza tu Test</h1>
    <pre></pre>
    <form method="POST" action="/index" class="form">
        <div class="mb-3">
            <label for="nombre" class="form-label label-sm">Nombre:</label>
            <input class="form-control form-control-sm" type="text" id="nombre" name="nombre" required>
        </div>
        <div class="mb-3">
            <label for="edad" class="form-label label-sm">Edad:</label>
            <input class="form-control form-control-sm" type="number" id="edad" name="edad" required>
        </div>

        <div class="mb-3">
            <label class="form-label label-sm">Drogas:</label>
            <div class="form-group">
                <button class="btn btn-outline-primary btn-drug" type="button" data-drug="Alcohol">Alcohol</button>
                <button class="btn btn-outline-primary btn-drug" type="button" data-drug="Marihuana">Marihuana</button>
                <button class="btn btn-outline-primary btn-drug" type="button" data-drug="Cristal">Cristal</button>
                <button class="btn btn-outline-primary btn-drug" type="button" data-drug="Piedra">Piedra</button>
                <button class="btn btn-outline-primary btn-drug" type="button" data-drug="Hongos">Hongos</button>
                <button class="btn btn-outline-primary btn-drug blue" type="button" data-drug="Peyote">Peyote</button>
                <button class="btn btn-outline-primary btn-drug blue" type="button" data-drug="Hachís">Hachís</button>
                <button class="btn btn-outline-primary btn-drug" type="button" data-drug="Heroína">Heroína</button>
                <!-- Agrega más botones de drogas según tus necesidades -->
            </div>
            <input type="hidden" id="drogas" name="drogas">  <!-- Campo oculto para guardar la respuesta -->
        </div>
        <button class="btn btn-primary mt-3" type="submit">Siguiente</button>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const drugButtons = document.querySelectorAll('.btn-drug');
            const hiddenInput = document.querySelector('#drogas');

            drugButtons.forEach((button) => {
                button.addEventListener('click', () => {
                    button.classList.toggle('active');

                    const selectedDrugs = Array.from(document.querySelectorAll('.btn-drug.active'))
                        .map((btn) => btn.getAttribute('data-drug'));

                    hiddenInput.value = selectedDrugs.join(', ');
                });
            });
        });
    </script>


{% endblock %}
