{% extends "layout.html" %}

{% block title %}
    Ingresar contraseña
{% endblock %}

{% block main %}
    <link href="/project/static/styles.css" rel="stylesheet">
    <h1>Ingresar contraseña</h1>
    <form method="POST" action="/history">
        <div class="mb-3">
            <label for="password" class="form-label">Contraseña:</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Ingresar</button>
    </form>
{% endblock %}
