/* Size for brand */
nav .navbar-brand {
    font-size: medium;
}

/* Tamaño de los labels */
.form-label {
    width: 20%; /* Ajusta el ancho según tus necesidades, en este caso al 50% */
}

/* Colors for brand */
nav .navbar-brand.blue {
    color: #537fbe;
}



/* Estilo de los botones de drogas */
.btn-drug {
    width: 100%; /* Ocupar todo el ancho disponible */
    height: 40px; /* Ajusta la altura según tus necesidades */
    background-color: #537fbe; /* Cambia el color de fondo a azul */
    color: #fff;
    transition: background-color 0.3s ease-in-out;
    font-size: 16px; /* Ajusta el tamaño de fuente según tus necesidades */
    margin-bottom: 10px; /* Espacio inferior entre los botones */
}

.btn-drug.active {
    background-color: #537fbe; /* Cambia el color de fondo a azul */
    color: #fff;
}

.fixed-size-image {
    width: 900x; /* Ancho deseado */
    height: 600px; /* Altura deseada */
    object-fit: cover; /* Ajustar imagen para cubrir el contenedor */
}

.label-sm {
    width: 20px; /* Ajusta el ancho según tus necesidades */
}

.navbar-nav .nav-link {
    font-size: 14px;
}

/* Estilos para centrar los elementos */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 500px;
    padding: 20px;
}

/* Estilos adicionales para los botones */
.btn-primary {
    background-color: #0873F3;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #054390;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap; /* Permitir que los botones se envuelvan cuando no hay suficiente espacio */
    justify-content: space-between;
    width: 15%;
}

.buttons-container button {
    flex: 1; /* Distribuir el espacio disponible entre los botones */
    margin-bottom: 10px; /* Espacio inferior entre los botones */
}

